<aside class="sidebar">
  <div class="wrapper flow ">
    <div class="sidebar__inner flow">
      <div class="[ sidebar__intro ]">
        <div class="card" data-frame="quaternary">
          <h2 class="weight-normal">Making programming accessible</h2>
          <p>Bringing CNC machine programming experience to the multiple devices and platforms</p>
        </div>
        <div class="card" data-frame="quaternary">
          <h2 class="weight-normal">Designing for scalability</h2>
          <p>Laying down the foundations of an ambitious product iteration</p>
        <div class="card" data-frame="quaternary">
          <h2 class="weight-normal">Simplifying self-services</h2>
          <p>Improving digital parcel and mailing services at the self-service parcel terminals.</p>
        </div>
      </div>
    </div>
  </div>
</aside>